.footer{
  text-align: center;
  padding: 56px 0;
  background-size: cover;
  background: #9B51E0;
  background: radial-gradient(circle, #8E2DE2, #4A00E0);
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}
