.single-post {
    margin: 20px 0;
    padding: 15px;
    border-radius: 2px;
  }
  
  .post-title{
    font-size: 28px;
    margin-bottom: 16px;
    font-weight: 400;
    color: #616161;
  }
  
  .post-title a{
    text-decoration: none;
    color: #616161;
  }
  
  .author-name{
    font-size: 16px;
    margin-bottom: 16px;
    color: #757575;
  }
  
  .post-desc{
    font-size: 16px;
    color: #888;
    margin-bottom: 8px;
    margin-left: 15px;
  }
  
  .post-action a{
    color: #555;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
  }
  
  .post-action a:hover{
    color: #EF5350;
  }
  
  .divider{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 250px;
    margin: 32px auto 0;
  }
  
  .post-detail .post-title{
    font-size: 42px;
    color: #454545;
  }

  .post-subtitle{
    font-size: 16px;
    color: #454545;
    padding-left: 10px;
  }
  
  .post-detail .post-desc{
    font-size: 16px;
    color: #555;
  }

  /* Custom styles */

  .post-desc-address {
    font-size: 16px;
    color:#888;
    margin-left: 30px;
  }

  .link {
    color: #8E2DE2;
  }

  .link2 {
    color: #8E2DE2!important;
    /* font-weight: bold; */
  }

  .card-title-banner {
    display: block;
    width: 100%;
    margin: 0;
    /* padding: 10px; */
    background: rgba(0, 0, 0, 0.5);
  }

  .event-name {
    color: white;
  }

  .game-name {
    font-size: 0.6em;
    float: right;
    margin-top: 10px;
  }

  .attendee-count {
    color: #00bfa5;
    font-weight: bold;
    font-size: 1.2em;
  }

  .seat-count {
    font-size: 1.2em;
    font-weight: bold;
    color: #00bfa5;
  }

  .span-padding {
    padding-left: 10px;
  }
  
  .DetailPage {
    margin-bottom: 8em;
  }