.header {
  /* background: #eee url('../../header-bk.png') center; */
  background: #000 url('../../images/dice-bk-2.jpg') center;
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  /* float: left; */
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.add-post-button {
  /* display: inline-block; */
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  margin-right: 20px;
  /* float: right; */
}

.language-switcher {
  background: rgba(0, 0, 0, 0.1);
  /* background: #9B51E0; */
  /* background: radial-gradient(circle, #8E2DE2, #4A00E0); */
}

.language-switcher ul {
  list-style: none;
  /* width: 980px; */
  /* margin: auto; */
  margin-right: 10%;
  text-align: right;
}

.language-switcher li {
  display: inline-block;
  /* margin: 10px; */
  margin: 8px;
  /* padding: 5px; */
  padding: 2px;
  cursor: pointer;
  color: #fff;
  font-size: 0.8em;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
